<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Devin Baack</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>

<style>
    video {
        max-width: 100%;
    }

    button {
      box-shadow: 2px 2px 2px black;
    }

    .navLink {
        box-shadow: 2px 2px 2px black;
    }

    .bg-cover {
        background-size: cover !important;
        height: 300px;
        border-bottom: 5px double black;

    }


</style>


    <nav class="navbar navbar-expand navbar-dark bg-info fixed-top ">
      <!-- Brand/logo -->
      <a style="text-shadow: 2px 2px 2px black;" class="navbar-brand" href="{% url 'home' %}">Devin Baack's Portfolio</a>
      <!-- Links -->
      <ul class="navbar-nav">
          <li style="padding-left: 20px;" class="nav-item">
          <a class="btn btn-secondary navLink" href="{% url 'home' %}">Home</a>
        </li>

          <li style="padding-left: 20px;" class="nav-item">
              <a class="btn btn-secondary navLink" href="{% url 'about' %}">About</a>
          </li>

          <li style="padding-left: 20px;" class="nav-item">
          <a class="btn btn-secondary navLink" href="media/portfolio/Devin_Baack_Resume.pdf" target="_blank">Resume</a>
        </li>


      </ul>
    </nav>

    <br>
    <br>
    <br>



    <div class="p-5 jumbotron text-center bg-image bg-cover" style="background: linear-gradient(rgba(23, 162, 184, 1), rgba(0, 0, 0, 0)), url('https://i.ibb.co/QFKyzs9/mesh-1430107.png');">
            <div class="d-flex justify-content-center align-items-center h-100">
                <div class="text-white">
                    <h1 class="mb-3"><u>Devin Baack</u></h1>
                    <h6 class="mb-4">A native of Carroll, Iowa, Devin Baack currently resides in Ames, Iowa <br> completing
                        his A.A.S. in Computer Information Systems.</h6>
                    <h6>Displayed below is a variety of projects developed by Devin, <br>demonstrating his experience and current skillset.</h6>

                </div>
            </div>

    </div>


    <body class="bg-info">
    <div class="container-fluid">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
            {% for project in projects %}

                <div class="col mb-4" style="padding-top: 10px;">
                    <div class="card mx-auto" style="width: 25rem; box-shadow: 5px 5px 5px black;">
                        <h4 class="card-header">{{ project.title }}</h4>
                      <video src="media/{{ project.video }}" controls></video>
                      <div class="card-body">

                        <h6 class="card-text">Tools: {{ project.tools }}</h6>
                          <p class="card-title">{{ project.description }}</p>
                        <button href="#" class="btn btn-info" data-toggle="modal" data-target="#myModal{{forloop.counter0}}" >Read More About This Project</button>
                          <a href="{{ project.github }}" target="_blank" class="btn btn-info navLink">GitHub</a>
                      </div>
                    </div>
                </div>



                             <div class="modal fade" id="myModal{{forloop.counter0}}">
                    <div class="modal-dialog">
                      <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                          <h4 class="modal-title">{{ project.title }}</h4>
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                          <p>{{ project.writeUp|safe }}</p>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                      </div>
                    </div>
                  </div>


            {% endfor %}

        </div>

    </div>
    </body>



</html>